.products {
  h1 {
    font-size: 1.875rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.375rem;
    text-align: center;
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
  }

  .buttons {
    width: 20%;
    margin: 1.25rem auto;
    text-align: center;

    .left,
    .right {
      color: #6e774a;
      border: none;
      background-color: transparent;
      font-size: 1.875rem;
      font-weight: 300;
      outline: none;
      cursor: pointer;
    }
  }
}
//slider

.slider-container {
  .slider {
    list-style: none;
    padding: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;

    &-item {
      border: 1px solid #ced6af;
      background-color: #fff;
      width: 32%;
    }
  }
}

.card-container {
  // width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  h3 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1688rem;
    text-align: center;
    margin-top: 1.875rem;
  }

  img {
    width: 30%;
    margin: 1.875rem auto 3.125rem auto;
    // display: block;
  }

  p {
    display: inline-block;
    width: 70%;
    margin: 0;
    font-size: 1rem;
    background-color: #f7f8f3;
    padding: 0.625rem 0 0.625rem 0.9375rem;
    border-top: 1px solid #ced6af;
  }

  button {
    display: inline-block;
    width: 30%;
    border: none;
    margin: 0;
    font-size: 1rem;
    background-color: #6e774a;
    padding: 0.625rem 0 0.625rem 0.9375rem;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}
