@import 'config';
@import 'header';
@import 'about';
@import 'products';
@import 'tabs';
@import 'faq';

* {
  box-sizing: border-box;
}

section,
header,
footer {
  padding: 1px;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: $primary-font;
  background-color: #f7f8f3;
}
